@import url("base.css");

:root{
    --back-color: #121212;
    --fore-color: white;
    --footer-fore-color: #E0E0E0;
    --footer-back-color: black;
    --heading-ratio: 1.19;
    --universal-margin: .5rem;
    --universal-padding: .5rem;
    --universal-border-radius: .25rem;
}

#fouc{
    max-width: 1000px;
    padding: 1rem;
}

.logo_row{
    height: 15vh;
    min-height: 7.5rem;
}

.logo_frame{
    height: 100%;
    width: 100%;
    position: relative;
}

.logo{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
}
