/* Basic css for all pages */
/*TODO: Fix code and quotation being colored and white themed*/
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400');
:root{
    --back-color: #121212;
    --fore-color: white;
    --footer-fore-color: #E0E0E0;
    --footer-back-color: black;
    --footer-link-color: white;
    --heading-ratio: 1.19;
    --universal-margin: .5rem;
    --universal-padding: .5rem;
    --universal-border-radius: .25rem;
    --a-link-color: white;
    --a-visited-color white;
    --secondary-back-color: #1E1E1E;
    --tertiary-back-color: #5c5c5c;
    --secondary-border-color: none;
}

html, *
{
    font-family: Hepta Slab, sans-serif;
    font-weight: 400;
}
body{
    min-height: 100%;
}

a{
    font-family: inherit;
    text-decoration: none;
    text-transform: none;
    color: white;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: .1rem;
        min-height: 1px;
        background-color: currentColor;
        transform-origin: right;
        transition: transform .25s ease;
    }

    &:hover{
        &:after{
            transform: scaleX(0);
        }
    }
}
a:visited{color:white}
footer{
    border-top: none;
    text-align: center;
    --universal-margin: 0;
    --universal-padding: 0;
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

p{
    font-size: .8rem;
}

.container{
    max-width: 2500px;
    border-collapse: separate;
}

.bigtop{
    height: 100vh;
}

.box-colored{
    --universal-border-radius: 2rem;
    border: 2.5px solid white;
    min-height: 1rem;
    margin-bottom: 1rem;
}

.box-colored:hover{
    background: #252525;
}

.box-colored:focus{
    background: #343434;
}

.header{
    margin-top: 40vh;
    text-align: center;
}

.row{
    margin-bottom: 1rem;
}
blockquote{
    color: var(--tertiary-back-color)
}
