@import url("base.css");

.banner{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.logo_frame{
    height: 100%;
    width: 100%;
    position: relative;
}

.logo{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
}

#news{
    margin-top: 10vh;

}


/*TODO: create filter that rotates the hue by the id of the article.*/
/*TODO; fix imagebox and add pointer*/
